@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-yellow-1: #fab005;
    --color-yellow-2: #FFD43B;
    --color-yellow-3: #ffe066;
    --color-yellow-4: #ffec99;
    --color-yellow-5: #fff3bf;
    --color-yellow-6: #fff9db;
    --color-brand-1:  #ffd43b;
    --color-brand-2:  #FFFFFF;

}